<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<div th:fragment="footer">
		<footer class="footer">

			<!-- End .cta -->
			<div class="footer-middle border-0">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 col-lg-4">
							<div class="widget widget-about">
								<img th:src="@{/shop/assets/images/logo/logo.png}" class="footer-logo" alt="Footer Logo"
									width="200" height="50">
								<p>Không ngừng vươn xa, Beautycare là hệ thống mỹ phẩm đáp ứng các nhu cầu cần thiết của
									tất cae các khách hàng trên toàn quốc
									với sự tận tâm và tận tình mong được phục vụ tất cả các vị khách quý.
								</p>

								<div class="widget-about-info">
									<div class="row">
										<div class="col-sm-6 col-md-4">
											<span class="widget-about-title">Hỗ trợ 24/7</span> <a
												href="#">0869095008</a>
										</div>
										<!-- End .col-sm-6 -->
										<div class="col-sm-6 col-md-8">
											<span class="widget-about-title">Phương thức thanh
												toán</span>
											<figure class="footer-payments">
												<img th:src="@{/shop/assets/images/payments.png}" alt="Payment methods"
													width="272" height="20">
											</figure>
											<!-- End .footer-payments -->
										</div>
										<!-- End .col-sm-6 -->
									</div>
									<!-- End .row -->
								</div>
								<!-- End .widget-about-info -->
							</div>
							<!-- End .widget about-widget -->
						</div>
						<!-- End .col-sm-12 col-lg-4 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">Liên kết hữu ích</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a href="#">FAQ</a></li>
									<li><a th:href="@{/beauty/contact}">Liên hệ</a></li>
									<li sec:authorize="!isAuthenticated()"><a href="#signin-modal"
											data-toggle="modal">Đăng nhập</a></li>
									<li sec:authorize="isAuthenticated()"><a style="cursor: pointer;"
											th:onclick="logout()">Đăng xuất</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">Dịch vụ khách hàng</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a href="#">Phương thức thanh toán</a></li>
									<li><a href="#">Chính sách hoàn trả</a></li>
									<li><a href="#">Vận chyển</a></li>
									<li><a href="#">Hỗ trợ</a></li>
									<li><a href="#">Nhà phát triển</a></li>
									<li><a href="#">Bảo mật khách hàng</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget" sec:authorize="isAuthenticated()">
								<h4 class="widget-title">Tải khoản</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a th:href="@{/beauty/account/info-account}">Thông tin tài khoản</a></li>
									<li><a th:href="@{/beauty/cart}">Giỏ hàng</a></li>
									<li><a th:href="@{/beauty/like}">Danh sách yêu thích</a></li>
									<li><a th:href="@{/beauty/order}">Danh sách đặt hàng</a></li>
									<li><a href="#">Hỗ trợ</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget widget-newsletter">
								<h4 class="widget-title">Đăng ký nhận bản tin</h4>
								<!-- End .widget-title -->

								<form action="#">
									<div class="input-group">
										<input type="email" class="form-control" placeholder="Nhập email của bạn"
											aria-label="Email Adress" required>
										<div class="input-group-append">
											<button class="btn btn-dark" type="submit">
												<i class="icon-long-arrow-right"></i>
											</button>
										</div>
										<!-- .End .input-group-append -->
									</div>
									<!-- .End .input-group -->
								</form>
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-2 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container-fluid -->
			</div>
			<!-- End .footer-middle -->

			<div class="footer-bottom">
				<div class="container-fluid">
					<p class="footer-copyright"> © 2023 BeautyComestic Shop. All
						Rights Reserved.</p>
					<!-- End .footer-copyright -->
					<div class="social-icons social-icons-color">
						<span class="social-label">Theo dõi tôi</span> <a href="#" class="social-icon social-facebook"
							title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a> <a href="#"
							class="social-icon social-twitter" title="Twitter" target="_blank"><i
								class="icon-twitter"></i></a> <a href="#" class="social-icon social-instagram"
							title="Instagram" target="_blank"><i class="icon-instagram"></i></a> <a href="#"
							class="social-icon social-youtube" title="Youtube" target="_blank"><i
								class="icon-youtube"></i></a> <a href="#" class="social-icon social-pinterest"
							title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
					</div>
					<!-- End .soial-icons -->
				</div>
				<!-- End .container-fluid -->
			</div>
			<!-- End .footer-bottom -->
		</footer>
		<!-- End .footer -->
	</div>
</body>

</html>