USE [Beauty]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/5/2023 10:01:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_modified_date] [datetime2](7) NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_product]    Script Date: 12/5/2023 10:01:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_product](
	[id] [bigint] NOT NULL,
	[name] [nvarchar](500) NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[likes]    Script Date: 12/5/2023 10:01:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[likes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_modified_date] [datetime2](7) NULL,
	[product_id] [bigint] NULL,
	[user_id] [varchar](255) NULL,
 CONSTRAINT [PK__likes__3213E83FD21DA261] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_address]    Script Date: 12/5/2023 10:01:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_modified_date] [datetime2](7) NULL,
	[address] [nvarchar](255) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[phone] [varchar](11) NOT NULL,
 CONSTRAINT [PK__order_ad__3213E83FDDC5E870] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 12/5/2023 10:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[banner] [nvarchar](500) NULL,
	[discount] [float] NULL,
	[name] [nvarchar](500) NULL,
	[price] [float] NULL,
	[quantity] [int] NULL,
	[size] [nvarchar](50) NULL,
	[order_id] [bigint] NULL,
	[product_id] [bigint] NULL,
 CONSTRAINT [PK__order_de__3213E83F7DD45BAC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/5/2023 10:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_modified_date] [datetime2](7) NULL,
	[note] [nvarchar](500) NULL,
	[pay] [int] NULL,
	[ship] [int] NULL,
	[status] [int] NULL,
	[order_address_id] [bigint] NULL,
 CONSTRAINT [PK__orders__3213E83FF54604D1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/5/2023 10:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_modified_date] [datetime2](7) NULL,
	[banner] [nvarchar](500) NULL,
	[color] [varchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[discount] [float] NULL,
	[end_day_discount] [datetime2](7) NULL,
	[name] [nvarchar](500) NULL,
	[price] [bigint] NULL,
	[quantity] [int] NULL,
	[start_day_discount] [datetime2](7) NULL,
	[views] [int] NULL,
	[category_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/5/2023 10:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [varchar](255) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[last_modified_date] [datetime2](7) NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [varchar](max) NULL,
	[birth_day] [datetime2](7) NULL,
	[email] [varchar](50) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[gender] [bit] NULL,
	[last_login_date] [datetime2](7) NULL,
	[last_name] [nvarchar](50) NULL,
	[login] [bit] NOT NULL,
	[password] [varchar](max) NOT NULL,
	[role] [varchar](255) NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categories] ([id], [created_date], [last_modified_date], [name]) VALUES (1, CAST(N'2023-09-11T15:18:14.6410000' AS DateTime2), CAST(N'2023-09-11T15:18:14.6410000' AS DateTime2), N'che khuyết điểm - conceaier')
INSERT [dbo].[categories] ([id], [created_date], [last_modified_date], [name]) VALUES (2, CAST(N'2023-09-11T15:18:26.6220000' AS DateTime2), CAST(N'2023-09-11T15:18:26.6220000' AS DateTime2), N'Kẻ mày - Eyebrown')
INSERT [dbo].[categories] ([id], [created_date], [last_modified_date], [name]) VALUES (3, CAST(N'2023-09-11T15:18:40.7420000' AS DateTime2), CAST(N'2023-09-11T15:18:40.7420000' AS DateTime2), N'Kẻ mắt - Eyeliner')
GO
INSERT [dbo].[image_product] ([id], [name], [product_id]) VALUES (1, N'Che khuyet diem (1).jpg', 1)
INSERT [dbo].[image_product] ([id], [name], [product_id]) VALUES (2, N'Che khuyet diem (2).jpg', 2)
INSERT [dbo].[image_product] ([id], [name], [product_id]) VALUES (3, N'Che khuyet diem (3).jpg', 3)
GO
SET IDENTITY_INSERT [dbo].[likes] ON 

INSERT [dbo].[likes] ([id], [created_date], [last_modified_date], [product_id], [user_id]) VALUES (1, CAST(N'2023-09-21T14:25:06.4460000' AS DateTime2), CAST(N'2023-09-21T14:25:06.4460000' AS DateTime2), 50, N'c0a80104-8703-15d8-8187-030bb5460001')
INSERT [dbo].[likes] ([id], [created_date], [last_modified_date], [product_id], [user_id]) VALUES (2, CAST(N'2023-09-21T14:25:11.3890000' AS DateTime2), CAST(N'2023-09-21T14:25:11.3890000' AS DateTime2), 28, N'c0a80104-8703-15d8-8187-030bb5460001')
INSERT [dbo].[likes] ([id], [created_date], [last_modified_date], [product_id], [user_id]) VALUES (3, CAST(N'2023-09-21T14:25:20.3870000' AS DateTime2), CAST(N'2023-09-21T14:25:20.3870000' AS DateTime2), 26, N'c0a80104-8703-15d8-8187-030bb5460001')
SET IDENTITY_INSERT [dbo].[likes] OFF
GO
SET IDENTITY_INSERT [dbo].[order_address] ON 

INSERT [dbo].[order_address] ([id], [created_date], [last_modified_date], [address], [email], [first_name], [last_name], [phone]) VALUES (1, CAST(N'2023-09-21T14:24:09.8790000' AS DateTime2), CAST(N'2023-09-22T08:59:10.9300000' AS DateTime2), N'129 Phạm Như Xương , Quận Liên Chiểu', N'hantbpd06130@fpt.edu.vn', N'Nguyễn Thị Bảo', N'Hà', N'0885475245')
INSERT [dbo].[order_address] ([id], [created_date], [last_modified_date], [address], [email], [first_name], [last_name], [phone]) VALUES (2, CAST(N'2023-09-21T14:32:27.7830000' AS DateTime2), CAST(N'2023-12-01T21:24:52.8160000' AS DateTime2), N'116 Nguyễn Huy Tưởng, Quận Liên Chiểu', N'thao123@gmail.com', N'Lê Thị Thanh ', N'Thảo', N'0775432589')
INSERT [dbo].[order_address] ([id], [created_date], [last_modified_date], [address], [email], [first_name], [last_name], [phone]) VALUES (3, CAST(N'2023-09-21T14:37:23.5220000' AS DateTime2), CAST(N'2023-09-21T14:39:09.4990000' AS DateTime2), N'09 Thanh Khê 6, Quận Thanh Khê', N'phonglv23@gmail.com', N'Lê Viết', N'Phong', N'0778564258')
SET IDENTITY_INSERT [dbo].[order_address] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [banner], [discount], [name], [price], [quantity], [size], [order_id], [product_id]) VALUES (1, N'Che khuyet diem (1).jpg', 10, N'Che Khuyết Điểm Catrice', 198, 1, N's', 7, 1)
INSERT [dbo].[order_details] ([id], [banner], [discount], [name], [price], [quantity], [size], [order_id], [product_id]) VALUES (2, N'Eyebrown (1).jpg', 3, N'Chì Kẻ Mày Maybelline', 135, 2, N's', 7, 2)
INSERT [dbo].[order_details] ([id], [banner], [discount], [name], [price], [quantity], [size], [order_id], [product_id]) VALUES (3, N'Ke mat (1).jpg', 5, N'Bút kẻ chân mi Tight Liner - màu đen', 151, 1, N's', 8, 3)
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [created_date], [last_modified_date], [note], [pay], [ship], [status], [order_address_id]) VALUES (1, CAST(N'2023-09-21T14:27:18.5580000' AS DateTime2), CAST(N'2023-09-22T08:59:50.9940000' AS DateTime2), N'Giao hàng nhanh chóng, chính xác.', 0, 0, 3, 1)
INSERT [dbo].[orders] ([id], [created_date], [last_modified_date], [note], [pay], [ship], [status], [order_address_id]) VALUES (2, CAST(N'2023-09-21T14:28:16.8320000' AS DateTime2), CAST(N'2023-09-22T08:59:58.1220000' AS DateTime2), N'Giao hàng nhanh chóng, chính xác.', 0, 1, 3, 2)
INSERT [dbo].[orders] ([id], [created_date], [last_modified_date], [note], [pay], [ship], [status], [order_address_id]) VALUES (3, CAST(N'2023-09-21T14:29:00.2200000' AS DateTime2), CAST(N'2023-09-21T14:40:15.7400000' AS DateTime2), N'Giao hàng nhanh chóng, chính xác.', 0, 2, 0, 3)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
INSERT [dbo].[products] ([id], [created_date], [last_modified_date], [banner], [color], [description], [discount], [end_day_discount], [name], [price], [quantity], [start_day_discount], [views], [category_id]) VALUES (1, CAST(N'2023-09-12T18:10:26.1980000' AS DateTime2), CAST(N'2023-09-15T17:39:10.3910000' AS DateTime2), N'Che khuyet diem (1).jpg', N'#000000', N'Làm mờ quầng thâm, tàn nhang.', 50, CAST(N'2023-04-01T07:00:00.0000000' AS DateTime2), N'Che Khuyết Điểm Catrice', 198, 5000, CAST(N'2023-09-01T07:00:00.0000000' AS DateTime2), 2, 1)
INSERT [dbo].[products] ([id], [created_date], [last_modified_date], [banner], [color], [description], [discount], [end_day_discount], [name], [price], [quantity], [start_day_discount], [views], [category_id]) VALUES (2, CAST(N'2023-09-12T18:15:13.4860000' AS DateTime2), CAST(N'2023-09-15T17:40:10.3920000' AS DateTime2), N'Che khuyet diem (2).jpg', N'#000000', N'Làm mờ quầng thâm, tàn nhang.', 12, CAST(N'2023-04-01T07:00:00.0000000' AS DateTime2), N'Che khuyết điểm 2 đầu The Face Shop V201', 200, 1000, CAST(N'2023-09-01T07:00:00.0000000' AS DateTime2), 10, 1)
INSERT [dbo].[products] ([id], [created_date], [last_modified_date], [banner], [color], [description], [discount], [end_day_discount], [name], [price], [quantity], [start_day_discount], [views], [category_id]) VALUES (3, CAST(N'2023-09-12T18:19:19.5680000' AS DateTime2), CAST(N'2023-09-15T17:41:10.3930000' AS DateTime2), N'Che khuyet diem (3).jpg', N'#000000', N'Làm mờ quầng thâm, tàn nhang.', 34, CAST(N'2023-04-01T07:00:00.0000000' AS DateTime2), N'Che khuyết điểm Fit Me 10 Light', 150, 2000, CAST(N'2023-09-01T07:00:00.0000000' AS DateTime2), 1, 1)
GO
INSERT [dbo].[users] ([id], [created_date], [last_modified_date], [address], [avatar], [birth_day], [email], [first_name], [gender], [last_login_date], [last_name], [login], [password], [role], [username]) VALUES (N'c0a80104-8703-15d8-8187-030737bf0000', CAST(N'2023-09-21T14:16:57.4060000' AS DateTime2), CAST(N'2023-09-22T08:59:24.4400000' AS DateTime2), NULL, NULL, NULL, N'ha109@gmail.com', NULL, NULL, CAST(N'2023-03-22T08:59:24.4360000' AS DateTime2), NULL, 1, N'$2a$12$1lMaPrjSuCqhGZ.vp84Yje0tbsqX6scAM7kVE/Jx0L2xm.YspCM/K', N'ROLE_ADMIN', N'admin')
GO
ALTER TABLE [dbo].[image_product]  WITH CHECK ADD  CONSTRAINT [FKr01evkpk9msgd6a4j55hv73ja] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[image_product] CHECK CONSTRAINT [FKr01evkpk9msgd6a4j55hv73ja]
GO
ALTER TABLE [dbo].[likes]  WITH CHECK ADD  CONSTRAINT [FK79ytfme5tdc4k9i57h0akaah2] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[likes] CHECK CONSTRAINT [FK79ytfme5tdc4k9i57h0akaah2]
GO
ALTER TABLE [dbo].[likes]  WITH CHECK ADD  CONSTRAINT [FKnvx9seeqqyy71bij291pwiwrg] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[likes] CHECK CONSTRAINT [FKnvx9seeqqyy71bij291pwiwrg]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK4q98utpd73imf4yhttm3w0eax]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FKjyu2qbqt8gnvno9oe9j2s2ldk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKt0ecml6rxswu7mop3s4nc73ie] FOREIGN KEY([order_address_id])
REFERENCES [dbo].[order_address] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKt0ecml6rxswu7mop3s4nc73ie]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
